<div id="indicators">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30">Información Más Reciente</h4>
        <p class="text-muted m-b-5 font-13">Seleccione un indicador para ver su detalle.</p>
        <div class="inbox-widget nicescroll"  v-for="indicator_type in indicator_types">
          <a v-on:click="view_details(indicator_type.id)" style="cursor: pointer;" id="detail">
            <div class="inbox-item">
              <p class="inbox-item-author">{{indicator_type.name}}</p>
              <p class="inbox-item-text">{{indicator_type.value_date}}</p>
              <p class="inbox-item-date">{{indicator_type.last_value}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="card-box">
        <div v-if="is_show">
          <h4 class="header-title m-t-0 m-b-30">{{title}}</h4>

          <div class="row">
            <div class="col-lg-3 col-md-6 col-lg-offset-3">
              <div class="card-box widget-user">
                <div class="text-center">
                  <h2 class="text-info" data-plugin="counterup">{{last_value}}</h2>
                  <h5>Valor Más Reciente <br>({{last_date}})</h5>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="card-box widget-user">
                <div class="text-center">
                  <h2 class="text-pink" data-plugin="counterup">{{predict_value}}</h2>
                  <h5>Pronóstico <br> 7 días</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="card-box">
                <!-- Búsqueda entre fechas -->
                <div class="form-group">
                  <label class="control-label col-sm-4 text-white">Buscar Por Fechas: </label>
                  <div class="col-sm-8">
                    <div class="input-daterange input-group" id="date-range">
                      <input type="text" class="form-control" name="start" v-model="start_date" />
                      <span class="input-group-addon btn-bordred btn-inverse b-0 text-white">a</span>
                      <input type="text" class="form-control" name="end" v-model="final_date" />
                    </div><br>
                    <button v-on:click="view_between(indicator_type_id)" class="btn btn-custom btn-block btn-bordred btn-inverse"><strong>Buscar</strong></button><br><br>
                  </div>
                </div>
                <!-- Búsqueda entre fechas -->
                <div class="table-responsive" v-if="table_is_show">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="indicator_value in search_indicator_values">
                        <td>{{indicator_value.value_date}}</td>
                        <td>{{indicator_value.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br><br><br><br>
                <div id="myfirstchart" style="height: 250px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function draw_chart(day_data) {
    $("#myfirstchart").html("");

    new Morris.Line({
      element: 'myfirstchart',
      data: day_data,
      xkey: 'day',
      ykeys: ['value', 'predict_value_two'],
      labels: ['Valor', 'Predicción']
    });
  }
</script>